(() => {
  const el = document.querySelector('#friend-results');
  el.innerHTML = "<%= j render(partial: 'friends/friend', collection: @friends, as: :friend) %>";

  <% if flash.now[:alert].present? %>
    el.insertAdjacentHTML('afterbegin', "<div class='alert alert-warning'><%= j flash.now[:alert] %></div>");
  <% end %>
})();