<h2> User Details </h2>
<div class="row">
  <div class="col-9"> 
    <div class="card card-header results-block">
        <table class="col-md-12">
            <tbody>
                <tr>
                <td><strong>Name: </strong> <%= @user.full_name %></td>
                <td><strong>Email: </strong> <%= @user.email %></td>
                <td>
                    <% if current_user.not_friends_with?(@user.id) %>
                        <%= link_to "Follow", friendships_path(friend: @user),
                                    class: "btn btn-sm btn-success", method: :post %>
                    <% else %>
                        <span class="badge badge-secondary">
                        You are already friends
                        </span>
                    <% end %>
                </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>

<% stocks = @tracked_stocks || [] %>
<% if stocks.any? %>
  <div id="tracked-stocks" class="mt-3">
    <%= render partial: 'stocks/list', locals: { stocks: stocks } %>
  </div>
<% else %>
  <p class='lead mt-3'>This user is not tracking any stocks</p>
<% end %>
